/*
 * -------------------------------------------------
 *  Nextflow config file for running Polish my Reads! on MfN cluster
 * -------------------------------------------------
 *   Use as follows:
 *   nextflow run main.nf -profile mfn
 */

executor {
    name = 'slurm'
    queueSize = 200
    submitRateLimit = '1sec'
}

process {
    config_profile_name = 'Curta cluster profile'
    config_profile_description = 'Profile that works well with the Freie Unvirsity Curta cluster'
    executor = 'slurm'
    queue = 'xxx'
    clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
    cpus = 1
    memory = '4 GB'
    time = '8h'
    beforeScript = 'module load Anaconda3'
    conda = '/path/to/.conda/envs/nf_phylo'

    errorStrategy = 'retry'
    maxRetries = 3

    // This pipeline can be computationally intensive and needs to be adjusted by genome and sampling.
    // The settings below work for a 50 individual avian genomics project.
    // Please note that if you change the label, the nextflow script itself will also need to be adjusted.
    // Each computationally intensive process has been tagged with a guesstimate of requirements. I've used
    // a labeling scheme so they can be adjusted based on genome/dataset requirements.
    // The labeling code below refers to: H(igh)/I(ntermediate)/S(mall), C(ores)/M(em)/T(ime). In example:
    // HC_IM_ST = High number of cores, Intermediate amount of RAM and small amount of time requested.

    withLabel: 'SC_SM_IT' {
        cpus = 1
        memory = { 8.GB * task.attempt }
        clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
        time = { 2.days * task.attempt }
    }

    withLabel: 'SC_SM_HT' {
        cpus = 1
        memory = '{ 8.GB * task.attempt }
        clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
        time = { 4.days * task.attempt }
    }

    withLabel: 'SC_IM_ST' {
        cpus = 1
        memory = '{ 16.GB * task.attempt }
        clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
        time = { 1.days * task.attempt }
    }

    withLabel: 'SC_IM_IT' {
        cpus = 1
        memory = '{ 16.GB * task.attempt }
        clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
        time = { 2.days * task.attempt }
    }

    withLabel: 'IC_IM_HT' {
        cpus = 1
        memory = '{ 16.GB * task.attempt }
        clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
        time = { 4.days * task.attempt }
    }

    withLabel: 'SC_HM_IT' {
        cpus = 1
        memory = '{ 32.GB * task.attempt }
        clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
        time = { 2.days * task.attempt }
    }

    withLabel: 'IC_HM_HT' {
        cpus = 8
        memory = '{ 32.GB * task.attempt }
        clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
        time = { 4.days * task.attempt }
    }

}
